{% extends 'shared/main.html' %}
{% load poll_extras %}
{% block title %}پرداخت صورتحساب{% endblock %}


{% block content %}

    <div class="clearfix"></div>

    <section class="container-fluid bkg p-0">
        <div class="row">
            <div class="col-lg-12 p-0 mb-3">
                <div class="bg-package d-flex align-items-center justify-content-center">
                    <div class="breadcrumb radius15">
                        <ul class="d-flex align-items-center">
                            <li><a href="#">خانه</a></li>
                            <svg width="12" height="11" viewBox="0 0 12 11" fill="none"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path d="M10.8019 6.17453H2.56566C2.00285 6.17453 1.53613 5.70782 1.53613 5.14501C1.53613 4.5822 2.00285 4.11548 2.56566 4.11548H10.8019C11.3647 4.11548 11.8314 4.5822 11.8314 5.14501C11.8314 5.70782 11.3647 6.17453 10.8019 6.17453Z"
                                      fill="#292D32"/>
                                <path d="M5.31096 10.2918C5.05014 10.2918 4.78933 10.1958 4.58342 9.98985L0.465311 5.87174C0.067227 5.47366 0.067227 4.81476 0.465311 4.41667L4.58342 0.298563C4.98151 -0.099521 5.64041 -0.099521 6.03849 0.298563C6.43657 0.696647 6.43657 1.35554 6.03849 1.75363L2.64791 5.14421L6.03849 8.53479C6.43657 8.93287 6.43657 9.59177 6.03849 9.98985C5.83258 10.1958 5.57177 10.2918 5.31096 10.2918Z"
                                      fill="#292D32"/>
                            </svg>
                            <li><a href="#" class="current">جزئیات پرداخت</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="text-lg-right text-center my-4">

        <div class="container">
            <div class="card p-5 p-checkout">
                <div class="row">

                    <form class="contact-form d-flex justify-content-between form-checkout" method="post">
                    {% csrf_token %}

                        <div class="col-lg-8">
                            <p class="mb-3">جزئیات صورتحساب:</p>

                            <div class="form-row">

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">نام:</label>
                                    <input type="text" name="first_name" class="form-control mb-1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">نام خانوادگی:</label>
                                    <input type="text" name="last_name" class="form-control mb-1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">استان:</label>
                                    <input type="text" name="state" class="form-control mb-1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">شهر:</label>
                                    <input type="text" name="city" class="form-control mb-1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">آدرس خیابان:</label>
                                    <input type="text" name="street" class="form-control mb-1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">آپارتمان، مجتمع، واحد و... (اختیاری):</label>
                                    <input type="text" name="apartment" class="form-control mb-1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">کدپستی:</label>
                                    <input type="text" name="zipcode" class="form-control mb-1">
                                </div>

                                <div class="form-group col-md-6">
                                    <label for="inputEmail4">تلفن:</label>
                                    <input type="text" name="phone" class="form-control mb-1">
                                </div>

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <p class="mb-3">سفارش شما: </p>
                            <div class="bg-title-sidebar radius20 side-category p-4 mb-2">

                                <ul class="list-unstyled">
                                    <li>محصول
                                        <div class="d-flex align-items-center justify-content-center">
                                            جمع جزء
                                        </div>
                                    </li>

                                    {% for item in order.orderdetail_set.all %}
                                        <li>{{ item.product.name }}
                                            <div class="d-flex align-items-center justify-content-center">
                                                {{ item.product.price | three_digits }} تومان
                                            </div>
                                        </li>
                                    {% endfor %}
                                    <hr>

                                    <li>حمل و نقل:
                                        <div class="d-flex align-items-center justify-content-center">
                                            رایگان
                                        </div>
                                    </li>

                                    <li>مجموع:
                                        <div class="d-flex align-items-center justify-content-center">
                                            {{ sum | three_digits }} تومان
                                        </div>
                                    </li>


                                </ul>

                            </div>

                            <button type="submit" class="btn btn-lightorng btn-checkout">ثبت سفارش و پرداخت</button>


                        </div>

                    </form>

                </div>

            </div>
        </div>

    </section>


{% endblock %}