{% extends 'shared/main.html' %}

{% block title %}موفق{% endblock %}

{% block content %}
    <div class="text-center">
        <div class="d-flex align-items-center justify-content-center p-6">
            <h1 class="text-center">پرداخت موفقیت آمیز بود</h1>
            <i class="fas fa-check text-success d-block" style="font-size: 3rem"></i>
        </div>
        <a class="btn rounded-top rounded-bottom my-2 text-center mx-auto text-white bg-success" href="{% url 'user:dashboard' %}">بازگشت به حساب
            کاربری</a>
    </div>
{% endblock %}