<section class="text-center px-2 py-3 mb-5 mt-20 mt-md-0">
    <div class="container d-block row align-items-center mx-auto">
        <ul class="list-group d-block mx-auto">
            <li class="list-group-item text-dark {% if request.resolver_match.url_name == 'dashboard' %} bg-warning {% endif %}">
                <i class="fas fa-user text-dark"></i>
                <a href="{% url 'user:dashboard' %}" class="text-dark">پنل کاربری</a>
            </li>
            <li class="list-group-item text-dark {% if request.resolver_match.url_name == 'edit_profile' %} bg-warning {% endif %}">
                <i class="fas fa-edit text-dark"></i>
                <a href="{% url 'user:edit_profile' %}" class="text-dark">تغییر اطلاعات کاربری</a>
            </li>
            <li class="list-group-item text-dark {% if request.resolver_match.url_name == 'change_password' %} bg-warning {% endif %}">
                <i class="fas fa-lock-open text-dark"></i>
                <a href="{% url 'user:change_password' %}" class="text-dark">تغییر کلمه عبور</a>
            </li>
            <li class="list-group-item">
                <i class="fas fa-shopping-cart text-dark"></i>
                <a href="{% url 'user:last_order_detail' %}" class="text-dark">لیست خرید های اخیر</a>
            </li>
            {% if request.user.is_superuser %}
                <li class="list-group-item">
                    <i class="fas fa-cart-arrow-down text-dark"></i>
                    <a href="{% url 'panel:order-admin' %}" class="text-dark">مدیریت سفارشات کاربران</a>
                </li>
            {% endif %}
        </ul>
    </div>
    <div class="btn bg-danger text-center my-3 rounded-top rounded-bottom">
        <a class="text-white" href="{% url "account:log_out" %}">خروج از حساب کاربری</a>
    </div>
</section>