{% extends 'shared/main.html' %}
{% block title %}{% endblock %}


{% block content %}
    <div class="m-5">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">نام محصول</th>
                <th scope="col">قیمت واحد</th>
                <th scope="col">تعداد</th>
                <th scope="col">جمع کل</th>
            </tr>
            </thead>
                <tbody>
                 {% for item in products %}
                <tr>
                    <th scope="row">{{ item.product.name }}</th>
                    <td>{{ item.product.price }}</td>
                    <td>{{ item.count }}</td>
                    <td>{{ item.get_total_price }}</td>
                </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>

{% endblock %}