{% extends 'shared/main.html' %}
{% block title %}{% endblock %}

{% block content %}
    {% if request.user.is_superuser %}
        <div class="m-5">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th scope="col">شماره سفارش</th>
                    <th scope="col">نام</th>
                    <th scope="col">نام خانوادگی</th>
                    <th scope="col">شماره تماس</th>
                    <th scope="col">آدرس</th>
                    <th scope="col">وضعیت پرداخت</th>
                    <th scope="col">وضعیت ارسال</th>
                    <th>مشاهده جزئیات</th>
                </tr>
                </thead>
                {% for item in orders %}
                    <tbody>
                    <tr>
                        <th scope="row">{{ item.order.id }}</th>
                        <td>{{ item.user.first_name }}</td>
                        <td>{{ item.user.last_name }}</td>
                        <td>{{ item.user.phone_number }}</td>
                        <td>{{ item.state }}, {{ item.city }}, {{ item.street }}, {{ item.apartment }}, {{ item.zipcode }}</td>
                        <td class="text-white {% if item.order.is_paid == True %} bg-success {% else %} bg-danger {% endif %}">
                            {% if item.order.is_paid == True %}
                                پرداخت شده
                            {% else %}
                                پرداخت نشده
                            {% endif %}
                        </td>
                        <td class="text-white {% if item.sended == True %} bg-success {% else %} bg-danger {% endif %}">
                            {% if item.sended == True %}
                                ارسال شده
                            {% else %}
                                ارسال نشده
                            {% endif %}
                        </td>
                        <td class="text-center"><a href="{% url "panel:order-admin-detail" item.order.id %}"
                                                   class="text-dark"><i
                                class="fas fa-eye"></i></a></td>
                    </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <h1 class="text-center my-5">ظاهرا شما گم شدید :)</h1>
    {% endif %}
{% endblock %}