{% extends "shared/main.html" %}
{% load render_partial %}
{% block title %}تغییر رمزعبور{% endblock %}


{% block content %}
    <div class="container d-md-flex align-items-start justify-content-between">
        <div class="mx-auto bg-white mt-1 mb-3 rounded-top p-5">
            <h4>تغییر رمزعبور</h4>
            <form method="post" action="{% url 'user:change_password' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mt-3 d-flex flex-column list-group">
                    <input type="password" name="old_password" class="list-group-item" placeholder="رمزعبور فعلی">
                    <span class="">{{ change_password.old_password.errors }}</span>
                    <input type="password" name="new_password" class="list-group-item" placeholder="رمزعبور جدید">
                    <span class="">{{ change_password.new_password.errors }}</span>
                    <input type="password" name="confirm_password" class="list-group-item"
                           placeholder="تکرار رمزعبور جدید">
                    <span class="">{{ change_password.confirm_password.errors }}</span>
                    <button type="submit" class="btn bg-success text-center text-white my-3">تایید</button>
                </div>
            </form>
        </div>
        {% render_partial 'profile_module.views.profile_menu' %}
    </div>

{% endblock %}
