{% extends "shared/main.html" %}
{% block title %}{% endblock %}


{% block content %}
    <section class="container-fluid text-lg-right text-center mt-4 p-3 mb-5 mx-auto">
        <div class="row align-items-center pt-lg-5 mx-auto">
            <ul class="list-group d-block mx-auto">
                <li class="list-group-item active">
                    <a href="" class="">پنل کاربری | User Panel </a>
                </li>
                <li class="list-group-item">
                    <a href="">تغییر اطلاعات کاربری | Change user information</a>
                </li>
                <li class="list-group-item">
                    <a href="">لیست صورت حساب های اخیر | List of recent bills </a>
                </li>
                <li class="list-group-item">
                    <a href="">تغییر کلمه عبور | Change password</a>
                </li>
            </ul>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </section>

{% endblock %}