<script src="/static/Js/jquery.min.js"></script>
<script src="/static/Js/bootstrap.min.js"></script>
<script src="/static/Js/my-script.js"></script>
<script src="/static/Js/owl.carousel.js"></script>
<script src="/static/Js/custom.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/Js/product.js"></script>
<script src="/static/Js/contact-us.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/static/Js/order.js"></script>
<script src="/static/Js/comment.js"></script>
