<link href="/static/Css/Main.css" rel="stylesheet" />
<link href="/static/Css/Menu.css" rel="stylesheet" />
<link href="/static/Css/Style.css" rel="stylesheet" />
<link href="/static/Css/owl.carousel.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link href="/static/Css/owl.theme.min.css" rel="stylesheet" />

